app.*/data/*
app.*/public/static
app.*/public/static_g
app.*/public/upload/*
app.*/vendor/ounun
app.*/vendor/cms.cc
app.*/vendor/*
app.*/app/config2.php
app.*/app/config.prod.php

!.gitkeep
.settings
.idea
.svn
.sass-cache
.dat.*
