ul {
  &.off-canvas-list {
    li {
      a {
        border-bottom: solid 1px #0e385a;

        &:hover {
          background: #335a79;
        }
      }
    }

    label {
      background-color: #09263c;
    }
  }
}


.move-right {
  .exit-off-canvas {
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.left-off-canvas-menu {
  background-color: #112E45;
}


.top-bar, .tab-bar {
  background-color: #112E45;
  height: 50px;
}

.tab-bar {
  .menu-icon {
    width: 100%;
  }
}

.docs-bar {
  #header {
    padding: 0 0.93em;
    max-width: 1100px;
    margin: 0 auto;

    h1 {
      font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
      text-align: left;
      padding: 6px 0;
      font-size: 20px;
      color: #cdddeb;

      a {
        text-decoration: none;
        color: #cdddeb;
      }
    }
  }
}

.row {
  max-width: 1100px;
}

.sidebar {
  padding: 0 8% 0 0;

  .side-nav {
    li {
      margin: 0;
      padding: 0;

      &.active > a:first-child {
        color: #0e83cd;
      }

      &.side-title {
        span {
          display: inline-block;
          padding: 10px 0;
          margin-top: 40px;
          color: #0e83cd;
          border-top: solid 1px #e3e3e3;
          font-weight: bold;
          font-size: 1.2em;
        }
      }

      a {
        padding: 4px 4px;
        color: #444;

        &:hover {
          color: #0e83cd;
          background: none;
        }
      }
    }

    a {
      font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    }
  }
}

.share-comments {
  padding: 15px 0;
}

.page-bottom {
  margin-top: 40px;

  hr {
    border-color: #eee;
  }

  .row {
    padding-bottom: 20px;
  }

  .copyright {
    font-size: 12px;
    padding: 0;
    margin: 0;
  }

  .copyright, .copyright a {
    color: #666;
  }
}

.markdown {
  &-toc {
    position: absolute;
    display: none;
    right: 80px;
    top: 130px;

    a {
      font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    }

    li {
      &.side-title {
        padding-bottom: 6px;

        span {
          padding: 10px 0;
          color: #0e83cd;
          font-size: 1.0em;
          border-top: solid 1px #e3e3e3;
        }
      }

      a {
        padding: 4px 0;
        color: #666;
        font-size: 0.9em;

        &:hover {
          color: #0e83cd;
          background: none;
        }
      }
    }

    ul, li {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    ul {
      ul {
        padding-left: 16px;
      }
    }
  }

  &-body {
    margin-top: 54px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #333;
    overflow: hidden;
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;

    * {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    a {
      background: transparent;
      color: #4183c4;
      text-decoration: none;

      &:active, &:hover {
        outline: 0;
      }

      &:hover, &:focus, &:active {
        text-decoration: underline;
      }
    }


    strong {
      font-weight: bold;
    }

    h1 {
      margin: 0.67em 0;
      padding-bottom: 0.3em;
      font-size: 30px;
      line-height: 1.2;
      border-bottom: 1px solid #eee;
    }

    h2 {
      font-size: 21px;
      padding-bottom: 0.3em;
      line-height: 1.225;
      border-bottom: 1px solid #eee;
    }

    h3 {
      font-size: 16px;
    }

    h4 {
      font-size: 14px;
    }

    h5 {
      font-size: 12px;
    }

    h6 {
      font-size: 11px;
    }

    blockquote {
      margin: 0;
    }

    ul, ol {
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;

      ul ol, ol ol, ul ol, ol ol {
        list-style-type: lower-alpha;
      }

      ol {
        list-style-type: lower-roman;
      }
    }


    ul ul ol, ul ol ol, ol ul ol, ol ol ol {
      list-style-type: lower-alpha;
    }

    dd {
      margin-left: 0;
    }

    code {
      font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    }

    pre {
      overflow: auto;
      margin-top: 0;
      margin-bottom: 0;
      font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    }

    kbd {
      background-color: #e7e7e7;
      background-image: -webkit-linear-gradient(#fefefe, #e7e7e7);
      background-image: linear-gradient(#fefefe, #e7e7e7);
      background-repeat: repeat-x;
      border-radius: 2px;
      border: 1px solid #cfcfcf;
      color: #000;
      padding: 3px 5px;
      line-height: 10px;
      font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
      display: inline-block;
    }

    h1, h2, h3, h4, h5, h6 {
      margin-top: 15px;
      margin-bottom: 15px;
      line-height: 1.1;
    }

    img {
      border: 0;
    }

    hr {
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      height: 0;
      margin: 15px 0;
      overflow: hidden;
      background: transparent;
      border: 0;
      border-bottom: 1px solid #ddd;

      &:before {
        display: table;
        content: "";
      }

      &:after {
        display: table;
        clear: both;
        content: "";
      }
    }

    code, kbd, pre {
      font-family: monospace, monospace;
      font-size: 1em;
    }

    td, th {
      padding: 0;
    }

    input {
      color: inherit;
      font: inherit;
      margin: 0;
      line-height: normal;

      &[disabled] {
        cursor: default;
      }

      &[type="checkbox"] {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
      }
    }

    input {
      font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
      border: none;
    }


    > *:first-child {
      margin-top: 0 !important;
    }

    > *:last-child {
      margin-bottom: 0 !important;
    }

    .anchor {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      padding-right: 6px;
      padding-left: 30px;
      margin-left: -30px;

      &:focus {
        outline: none;
      }
    }


    h1, h2, h3, h4, h5, h6 {
      position: relative;
      margin-top: 1em;
      margin-bottom: 16px;
      font-weight: bold;
      line-height: 1.4;

      .octicon-link {
        display: none;
        color: #000;
        vertical-align: middle;
      }

      &:hover .anchor {
        height: 1em;
        padding-left: 8px;
        margin-left: -30px;
        line-height: 1;
        text-decoration: none;

        .octicon-link {
          display: inline-block;
        }
      }
    }

    h3 {
      font-size: 1.5em;
      line-height: 1.43;
    }

    h4 {
      font-size: 1.25em;
    }

    h5 {
      font-size: 1em;
    }

    h6 {
      font-size: 1em;
      color: #777;
    }

    p,
    blockquote,
    ul,
    ol,
    dl,
    table,
    pre {
      margin-top: 0;
      margin-bottom: 16px;
    }

    hr {
      height: 4px;
      padding: 0;
      margin: 16px 0;
      background-color: #e7e7e7;
      border: 0 none;
    }

    ul, ol {
      padding-left: 2em;

      ul, ol {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    li > p {
      margin-top: 16px;
    }

    dl {
      padding: 0;

      dt {
        padding: 0;
        margin-top: 16px;
        font-size: 1em;
        font-style: italic;
        font-weight: bold;
      }

      dd {
        padding: 0 16px;
        margin-bottom: 16px;
      }
    }

    blockquote {
      padding: 0 15px;
      color: #777;
      border-left: 4px solid #ddd;

      > :first-child {
        margin-top: 0;
      }

      > :last-child {
        margin-bottom: 0;
      }
    }

    table {
      display: block;
      width: 100%;
      overflow: auto;
      // word-break: normal;
      word-break: keep-all;

      th {
        font-weight: bold;
      }

      th, td {
        padding: 6px 13px;
        border: 1px solid #ddd;
      }

      tr {
        background-color: #fff;
        border-top: 1px solid #ccc;

        &:nth-child(2n) {
          background-color: #f8f8f8;
        }
      }
    }

    img {
      max-width: 100%;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    code {
      padding: 0.2em 0;
      margin: 0;
      font-size: 85%;
      background-color: rgba(0, 0, 0, 0.04);
      border-radius: 3px;

      &:before, &:after {
        letter-spacing: -0.2em;
        content: "\00a0";
      }
    }

    pre > code {
      padding: 0;
      margin: 0;
      font-size: 100%;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }

    .highlight {
      margin-bottom: 16px;

      pre {
        margin-bottom: 0;
        word-break: normal;
      }
    }

    pre {
      word-wrap: normal;

      code {
        display: inline;
        max-width: initial;
        padding: 0;
        margin: 0;
        overflow: initial;
        line-height: inherit;
        word-wrap: normal;
        background-color: transparent;
        border: 0;

        &:before, &:after {
          content: normal;
        }
      }
    }

    .highlight pre, pre {
      padding: 16px;
      overflow: auto;
      font-size: 85%;
      line-height: 1.45;
      background-color: #f7f7f7;
      border-radius: 3px;
    }


    .octicon {
      font: normal normal 16px octicons-anchor;
      line-height: 1;
      display: inline-block;
      text-decoration: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .octicon-link:before {
      content: '\f05c';
    }

    .task-list-item {
      list-style-type: none;

      input {
        float: left;
        margin: 0.3em 0 0.25em -1.6em;
        vertical-align: middle;
      }
    }

    .task-list-item + .task-list-item {
      margin-top: 3px;
    }
  }
}




